#container{
    display: flex;
    flex-direction: row;
    height: 90vh;
}

#calendar{
    display: flex;
    width: 60%;
    flex:2;
    
    
}
#projects{
    display: flex;
    background-color: rgb(70, 70, 136);
    flex-direction: column;
    height: 50%;
   
    padding: 10px;
    margin:20px;

    

}
#updates{
    display: flex;
    background-color: yellow;
    height: 50%;
    padding: 10px;
    margin:20px;
    
}

#puContainer{
    display: flex;
    flex:1;
    flex-direction: column;
    
}

.listdiv{
    border-color: black;
    border-style: solid;
    margin:10px;
    
}

.inactive{
    display: none;
}

.active{
    display: block;
}

.members{
    border-color: black;
    border-style: solid;
    margin:10px;
    border-radius: 10px;
    overflow-y: scroll;
}

.member-div{
    margin: 4px;
    padding: 4px;
}

