#navbar-id{
    background-color: #1E1E1E;
    color: #BB86FC;
    border-radius: 12px;
    margin:8px;
    position: sticky;
    top: 2px;
}

.nav-link{
    color: grey;
}
.navbar-brand{
    color: white;
}
.modal-content{
    background: linear-gradient(145deg, #121223, #1b1b33, #252545);
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(145deg, #121223, #1b1b33, #252545);
    color: #ffffff
}

.custom-toggler.navbar-toggler {
    border-color: #BB86FC;
}



.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(187, 134, 252, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


