{% extends "tmacweb/layout.html" %}
{% load static %}
{% block body %}

<div class="heading" ><b>Get More Done<br> as a Team</b></div>
<div class="sub-text">
    <p>Turn goals into reality with smart task tracking <br>and team coordination.</p>
<button type="button"  onclick="location.href = '\ register'" class="btn-homepage">Get Started</button>
</div>
<img src="{% static 'tmacweb/dashboard.png' %}"  class="dashboard-img">
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">Arshpreet Singh - Full Stack Developer</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-md-end list-unstyled d-flex justify-content-center">
        
        <li><a class="text-body-secondary" href="https://github.com/GoldGroove06/" style="color: white;font-size: larger;padding-right: 8px;"><i class="bi bi-github"></i></a></li>
        <li><a class="text-body-secondary" href="https://www.linkedin.com/in/arshpreet-singh-7b4160232/" style="color: white;font-size: larger;padding-left: 8px;"><i class="bi bi-linkedin"></i></a></li>
      </ul>
      
    </footer>
  </div>    

{% endblock %}

{% block script %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'tmacweb/homepage.css' %}" rel="stylesheet">   
{% endblock %}